name: publish

on:
  release:
    types: [created, workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.2
      id: go
    
    - name: compile
      run: |
        go version
        bash material/scripts/buildall.sh
    
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/gotz*
        file_glob: true
        tag: ${{ github.ref }}
        overwrite: true
        body: "gotz binaries"
